.macbook-air {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.macbook-air .div {
    background-color: #ffffff;
    height: 832px;
    overflow: hidden;
    position: relative;
    width: 1280px;
}

.macbook-air .group {
    height: 149px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1292px;
}

.macbook-air .overlap-group {
    background-color: #000000;
    height: 149px;
    position: relative;
    width: 1280px;
}

.macbook-air .text-wrapper {
    color: #2c7340;
    font-family: "Jomhuria-Regular", Helvetica;
    font-size: 128px;
    font-weight: 400;
    left: 468px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    white-space: nowrap;
    width: 343px;
}

.macbook-air .text-wrapper-2 {
    color: #2c7340;
    font-family: "Josefin Sans-Regular", Helvetica;
    font-size: 32px;
    font-weight: 400;
    left: 1033px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 36px;
    white-space: nowrap;
    width: 202px;
}

.macbook-air .text-wrapper-3 {
    color: #2c7340;
    font-family: "Josefin Sans-Regular", Helvetica;
    font-size: 32px;
    font-weight: 400;
    left: 173px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 103px;
    white-space: nowrap;
    width: 202px;
}

.macbook-air .text-wrapper-4 {
    color: #2c7340;
    font-family: "Josefin Sans-Regular", Helvetica;
    font-size: 32px;
    font-weight: 400;
    left: 402px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 105px;
    white-space: nowrap;
    width: 159px;
}

.macbook-air .text-wrapper-5 {
    color: #2c7340;
    font-family: "Josefin Sans-Regular", Helvetica;
    font-size: 32px;
    font-weight: 400;
    left: 588px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 107px;
    white-space: nowrap;
    width: 227px;
}

.macbook-air .text-wrapper-6 {
    color: #2c7340;
    font-family: "Josefin Sans-Regular", Helvetica;
    font-size: 32px;
    font-weight: 400;
    left: 842px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 109px;
    white-space: nowrap;
    width: 264px;
}

.macbook-air .about-us-welcome-to {
    color: #000000;
    font-family: "Josefin Sans-Bold", Helvetica;
    font-size: 32px;
    font-weight: 400;
    left: 106px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 175px;
    width: 1083px;
}

.macbook-air .span {
    font-weight: 700;
}

.macbook-air .text-wrapper-7 {
    font-family: "Josefin Sans-Regular", Helvetica;
}
